{% extends ':main:app.form.html.twig' %}

{% block formTitle %}
    Benefit Details
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
    {{ form_end(form) }}
{% endblock %}
